<%-include("../partials/header.ejs")%>

<h2 class="text-main m-3 font-weight-bold"><%=__('centAuth')%></h2>

<div class="row justify-content-center">
  <div class="container mt-4">
    <div class="tabcontainer">
      <div class="row justify-content-center align-items-center">
        <div class="col-12">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active shadow-lg" id="nav-enroll-tab" data-toggle="tab" href="#nav-enroll"
                role="tab" aria-controls="nav-enroll" aria-selected="false"><%= __('enrollPatient') %></a>
              <a class="nav-item nav-link shadow-lg" id="nav-addprescription-tab" data-toggle="tab"
                href="#nav-addprescription" role="tab" aria-controls="nav-addprescription"
                aria-selected="false"><%= __('applications') %></a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-enroll" role="tabpanel" aria-labelledby="nav-enroll-tab">
              <div class="row justify-content-center align-items-center">
                <div class="card shadow-lg p-2 border-0 roundness">
                  <div class="card-body text-main">
                    <h4><%=__('enrollPatient')%></h4><br>
                    <form class="form-inline user" method="post" action="/organisation/centauth">
                      <input class="form-control form-control-user mr-sm-2" type="text"
                        placeholder="<%=__('aadhaarNum')%>" name="aadhaarNum" aria-label="Search">
                      <button class="btn submit-btn my-2 my-sm-0 roundness" type="submit"><%=__('search')%></button>
                    </form>
                    <br>
                    <div class="errors">
                      <% if(errors.length !== 0) { %>
                      <% errors.forEach(error => { %>
                      <div class="alert alert-danger" role="alert">
                        <%= error.msg %>
                      </div>
                      <%})%>
                      <%}%>
                  </div>
                </div>
              </div>

              <div class="card shadow-lg p-2 border-0 roundness offset-md-1 mt-4">
                <div class="card-body text-main" style="min-width: 250px;">
                  <p id="message-display"></p>
                  <% if(details.found !== null) { %>
                      <p><%=__('aadhaarNum')%>:
                        <%=details.aadhaarNo%>
                      </p>
                      <p><%=__('name')%>:
                        <%=details.name%>
                      </p>
                      <p><%=__('dob')%>:
                        <%=details.dob%>
                      </p>
                      <p><%=__('gender')%>:
                        <%=details.gender%>
                      </p>
                      <p><%=__('address')%>:
                        <%=details.address%>
                      </p>
                      <% if(message) {%>
                      <div class="alert alert-success roundness" role="alert"><%=message%></div>
                      <%}%>
                           <% } else { %>
                      <script type="text/javascript">
                        document.getElementById("message-display").innerHTML =
                          "<p class=\"alert alert-danger\" role=\"alert\">Details not found in database. Please ensure you have entered the correct Aadhaar number.</p>"
                      </script>
                      <%}%>
                        </div>
                      </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-addprescription" role="tabpanel"
              aria-labelledby="nav-addprescription-tab">
    
              <table class="table table-responsive mt-3 text-dark application-table bg-white" style="width: 90vw;">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>State</th>
                      <th>District</th>
                      <th>Location</th>
                      <th>PIN</th>
                      <th>Telephone</th>
                      <th>Mobile</th>
                      <th>Email</th>
                      <th>Registration No.</th>
                      <th>Scanned Copy</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i in orgs) {%>
                      <tr>
                        <td><%=orgs[i].name%></td>
                        <td><%=orgs[i].state%></td>
                        <td><%=orgs[i].district%></td>
                        <td><%=orgs[i].location%></td>
                        <td><%=orgs[i].pin%></td>
                        <td><%=orgs[i].phone%></td>
                        <td><%=orgs[i].mobile%></td>
                        <td><%=orgs[i].email%></td>
                        <td><%=orgs[i].regNo%></td>
                        <td><a href="/files/<%=orgs[i].regFile%>" target="__blank"><%=orgs[i].regFile%></a></td>
                        <td> <button id="accept-btn" class="btn submit-btn p-2"
                            value="<%=JSON.stringify(orgs[i])%>">Accept</button>
                          <button class="btn btn-danger mt-1 ml-1 p-2" data-toggle="modal" data-target="#rejectModal"
                            data-email="<%=orgs[i].email%>" data-id="<%=orgs[i]._id%>">Reject</button> </td>
                      </tr>
                      <%}%>
                </tbody>
              </table>
            </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectModalLabel">Please state your reason for rejection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" id="org-email" hidden>
          <input type="text" id="org-id" hidden>
          <div class="custom-control custom-radio"><input class="custom-control-input" name="reason" type="radio" value="Documents provided were invalid" id="formCheck-1"><label class="custom-control-label" for="formCheck-1">Documents provided were invalid or not genuine</label></div>
          <div class="custom-control custom-radio"><input class="custom-control-input" name="reason" type="radio" id="formCheck-2" value="Authenticity could not be ascertained"><label class="custom-control-label" for="formCheck-2">Authenticity could not be ascertained</label></div>
          <div class="custom-control custom-radio"><input class="custom-control-input" name="reason" type="radio" value="others" id="formCheck-3"><label class="custom-control-label" for="formCheck-3">Others: <textarea class="form-control col-12" type="text" name="others" id="others"></textarea></label></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="reject-btn">Confirm</button>
      </div>
    </div>
  </div>
</div>
  <%- include("../partials/footer.ejs") %>
                      <script>
                        $('#accept-btn').click(function () {
                          let value = JSON.parse($(this).val())
                          $.post('/organisation/centauth/accept-application', {
                              org: value
                            })
                            .done((msg) => {
                              $(this).parents()[1].remove();
                              $('#rejectModal').modal('hide');
                            })
                            .fail((xhr, status) => {
                              console.log(status);
                            })
                        })

                        $(document).on('show.bs.modal', '#rejectModal', function (event) {
                          let button = $(event.relatedTarget);
                          let modal = $(this);
                          modal.find('#org-email').val(button.data('email'));
                          modal.find('#org-id').val(button.data('id'));
                        })

                        $('#reject-btn').click(function () {
                          let value = $('input[name="reason"]:checked').val();
                          if (value == "others")
                            value = $('#others').val()
                          console.log($('#org-id').val(), $('#org-email').val());
                          $.post('/organisation/centauth/reject-application', {
                              reason: value,
                              id: $('#org-id').val(),
                              email: $('#org-email').val()
                            })
                            .done((msg) => {
                              $('#rejectModal').modal('hide');
                              $(this).parents()[1].remove();
                            })
                            .fail((xhr, status) => {
                              console.log(status);
                            })
                        })
                      </script>