<%- include ('../partials/header') %>

<body>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <br>
        <div class="d-sm-flex  mb-4">
          <h2 class="text-main font-weight-bold mb-0"><%=__('radiologist')%></h2>
          <% if(error) {%>
          <div class="ml-5 alert alert-danger roundness">
            <%=error%>
          </div>
          <%}%>
          <% if(message) {%>
          <div class="ml-5 alert alert-success roundness">
            <%=message%>
          </div>
          <%}%>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 col-xl-3 mb-4">
            <div class="card border-0 shadow p-2 roundness">
              <div class="card-body">
                <p class="text-main h5 font-weight-bold text-center" for="medicalID"><%= __('ph1')%></p>
          <form class="mt-4 user row no-gutters align-items-center" action="/organisation/radiologist/medicalID"
            method="POST">
            <div class="col-md-auto">
              <i class="text-main fas fa-search h4 mr-2"></i>
            </div>
            <div class="col">
              <input class="form-control form-control-user" type="search" name="medicalID">
            </div>
            <div class="col-auto">
              <button style="margin-left:10px;" class="btn submit-btn roundness"><%=__('search')%></button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
      <div class="card border-0 shadow p-3 roundness">
        <div class="card-body text-main mt-1">
          <p class="h6"> <%= __('name') %>: <span class="font-weight-bold h5"><%=details.name%> </span></p>
          <p class="h6"> <%= __('medicalID') %>: <span class="font-weight-bold h5"><%=details.aadhaarNo%></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container mt-4">
      <div class="tabcontainer mt-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-xs-12 ">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active shadow-lg" id="nav-addreport-tab" data-toggle="tab"
                  href="#nav-addreport" role="tab" aria-controls="nav-addreport"
                  aria-selected="false"><%= __('addReport') %></a>
                <a class="nav-item nav-link shadow-lg" id="nav-addprescription-tab" data-toggle="tab"
                  href="#nav-addprescription" role="tab" aria-controls="nav-addprescription"
                  aria-selected="false"><%= __('addPresc') %></a>
                <a class="nav-item nav-link shadow-lg" id="nav-report-tab" data-toggle="tab" href="#nav-report"
                  role="tab" aria-controls="nav-report" aria-selected="true"><%= __('report') %></a>
                <a class="nav-item nav-link shadow-lg" id="nav-prescription-tab" data-toggle="tab"
                  href="#nav-prescription" role="tab" aria-controls="nav-prescription"
                  aria-selected="false"><%= __('presc') %></a>
                <a class="nav-item nav-link shadow-lg" id="nav-reporth-tab" data-toggle="tab" href="#nav-reporth"
                  role="tab" aria-controls="nav-reporth" aria-selected="false"><%= __('reportHist') %></a>
                <a class="nav-item nav-link shadow-lg" id="nav-prescriptionh-tab" data-toggle="tab"
                  href="#nav-prescriptionh" role="tab" aria-controls="nav-prescriptionh"
                  aria-selected="false"><%= __('prescHist') %></a>
              </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-addreport" role="tabpanel"
                aria-labelledby="nav-addreport-tab">
                <!-- form -->
                <form class="user card shadow-lg p-5 roundness" method="post"
                  action="/organisation/radiologist/addreport" enctype="multipart/form-data">
                  <input type="text" class="hiddenInp" name="medicalID" value=<%=details.recordID%>
                    <%=details.medicalID%>>

                  <div class="form-group">
                    <label class="text-main h5" for="name"><%= __('diagnoses') %></label>
                    <div class="input-group align-items-center">
                      <span class="input-group-addon mr-3"><i class="h3 text-accent fa fa-diagnoses"
                          aria-hidden="true"></i></span>
                      <input type="text" class="form-control roundness" name="diagnoses" id="diagnoses" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="text-main h5" for="name"><%= __('links') %></label>
                    <div class="input-group align-items-center">
                      <span class="input-group-addon mr-3"><i class="h3 text-accent fa fa-x-ray"
                          aria-hidden="true"></i></span>
                      <input type="text" class="form-control roundness" name="links" id="links" />
                    </div>
                  </div>

                  <!-- images upload -->

                  <div class="col">
                    <input name="reportImg" type="file" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="file"><%=__('upload')%> (.jpeg or .png)</label>

                  </div>
                  <button class="btn bg-main btn-block text-white btn-user mt-4"><span class="h6">Submit</span></button>
                </form>
              </div>


              <div class="tab-pane fade" id="nav-addprescription" role="tabpanel"
                aria-labelledby="nav-addprescription-tab">
                <form class="card shadow-lg p-4 roundness user" accept-charset="UTF-8"
                  action="/organisation/radiologist/addprescription" method="POST">
                  <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                    <%=details.recordID%>>
                  <textarea class="form-control roundness" name="prescription" placeholder="Enter prescription details"
                    rows="5"></textarea>
                  <button class="btn bg-main btn-block text-white btn-user mt-4"><span class="h6">Submit</span></button>
                </form>
              </div>

              <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">
                <div class="card shadow-lg p-4 roundness">
                  <form action="/organisation/radiologist/getreport" method="POST">
                    <button class="btn submit-btn roundness"><%=__('latestReport')%></button>
                    <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                      <%=details.recordID%>>
                  </form>
                  <div class="report_result">
                    <p class="h5"><%= __('name')%>:
                      <span class="h4 text-main"><%=details.name%></span>
                    </p>
                    <p class="h5 mt-2"><%= __('dob')%>:
                      <span class="h4 text-main"><%=details.dob%></span>
                    </p>
                    <p class="h5 mt-2"><%= __('report')%>: <br>
                      <span class="h4 text-main">
                        <%=details.report%>
                      </span>
                    </p>
                    <p class="h5 mt-2"><%= __('links')%>: <br>
                      <span href="<%=details.links%>" target="_blank" class="h4 text-main">
                        <%=details.links%>
                      </span>
                    </p>
                    <p class="h5 mt-2"><%= __('addedby')%>: <br>
                      <span class="h4 text-main">
                        <%=details.addedby%>
                      </span>
                    </p>
                  </div>
                </div>
              </div>


              <div class="tab-pane fade" id="nav-prescription" role="tabpanel" aria-labelledby="nav-prescription-tab">
                <div class="card shadow-lg roundness p-4">
                  <form action="/organisation/radiologist/getprescription" method="POST">
                    <button class="btn submit-btn roundness"><%=__('latestPresc')%></button>
                    <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                      <%=details.recordID%>>
                  </form>
                  <div class="prescription_results">
                    <p class="h5"><%= __('name')%>:
                      <span class="h4 text-main"><%=details.name%></span>
                    </p>
                    <p class="h5"><%= __('dob')%>:
                      <span class="h4 text-main"><%=details.dob%></span>
                    </p>
                    <p class="h5"><%= __('presc')%>:
                      <span class="h4 text-main"><%=details.prescription%></span>
                    </p>
                    <p class="h5"><%= __('addedBy')%>:
                      <span class="h4 text-main"><%=details.addedby%></span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-prescriptionh" role="tabpanel" aria-labelledby="nav-prescriptionh-tab">
                <div class="card shadow-lg roundness p-4">
                  <div class="col-lg-12">
                    <div class="coabox">
                      <form action="/organisation/radiologist/medicinehistory" method="POST">
                        <button class="btn submit-btn roundness"><%=__('getPrescs')%></button>
                        <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                          <%=details.recordID%>>
                      </form>
                      <% if(details.length) {%>
                    </div>
                    <%for(var i = 0; i<details.length; i++) { %>
                    <%if(details[i]['Value']['prescription']!=""){%>
                    <div class="card  bg-accent text-white roundness p-3 mt-2">
                      Date:
                      <%=Date(details[i]['Timestamp'].slice(0, 11)).slice(4, 15)%>
                      <br>
                      <span class="h5"><%=details[i]['Value']['prescription']%></span>
                      <br>
                      <span class="h5"><%=details[i]['Value']['addedby']%></span>
                    </div>
                    <%}%>
                          <%}%>
                  </div>
                  <% } %>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-reporth" role="tabpanel" aria-labelledby="nav-reporth-tab">
                <div class="card shadow-lg p-4 roundness">
                  <div class="coabox">
                    <form action="/organisation/radiologist/reporthistory" method="POST">
                      <button class="btn submit-btn roundness"><%=__('getReports')%></button>
                      <input type="text" class="hiddenInp" name="medicalID" value=<%=details.medicalID%>
                        <%=details.recordID%>>
                    </form>
                  </div>
                  <% if(details.length){%>
                  <div>
                    <% let data = details[0]['Value']['report'].split(', ')%>
                    <% for(let i in data) {%>
                    <% if(!data[i].includes('None')) {%>
                    <p><%=data[i]%></p>
                    <%}%>
                    <%}%>
                  </div>
                  <%}%>
                  <br>
                  <%for(var i = 1; i<details.length;i++){ %>
                  <%if(details[i]['Value']['report']!=""){%>
                  <div class="card bg-accent text-white roundness p-3 mt-2">
                    Date:
                    <%=Date(details[i]['Timestamp'].slice(0, 11)).slice(4, 15)%>
                    <br>
                    <span class="h5"><%=details[i]['Value']['report']%></span>
                    <br>
                    <br>
                    <span class="h5"><%=details[i]['Value']['links']%></span>
                    <br>
                    <span class="h5"><%=details[i]['Value']['addedby']%></span>
                  </div>
                  <%}%>
                                                            <%}%>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
</body>
<%- include("../partials/footer") %>
<script>
  $(document).ready(function () {
    window.setTimeout(function () {
      $(".alert").fadeTo(1000, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 3000);
  });
  $('input[type="file"]').change(function (e) {
    var fileName = e.target.files[0].name;
    console.log(fileName);
    $('.custom-file-label').html(fileName);
  });
</script>