<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('../../partials/header') %>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
  <style media="screen">
    .slot-active {
      background: green;
    }
  </style>
</head>

<body>
  <form action="/user/appointment/get-slots" method="post">
    <input type="text" id="datepicker" name="date" value="<%=date%>" onfocusout="submitDate()">
    <button id="date-button" hidden></button>
  </form>

  <form action="/user/appointment/book-appointment" method="post">
    <% if(slots.length!=0) { %>
    <% for(i in slots) { %>
    <input type="button" onclick="handleClick(this)" value="<%=slots[i]%>">
    <%}%>
    <%}%>
    <input type="text" name="slot_time" id="slot_time" hidden>
    <input type="text" name="slot_date" value="<%=date%>" hidden>
    <br><br>
    <% if(!user) { %>
    <label for="name">Name: </label>
    <input type="text" name="name">

    <label for="email">Email: </label>
    <input type="email" name="email">

    <label for="phone">Phone Number: </label>
    <input type="text" name="phone">
    <%}%>

    <button onclick="return confirmBooking();">Confirm</button>

  </form>


  <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="../../js/book-slot.js"></script> -->
  <script type="text/javascript">
    function handleClick(el) {
      document.getElementById('slot_time').value = el.value;
      let active = document.querySelector('.slot-active')
      if(active)
        active.classList.remove('slot-active');
      el.classList.add('slot-active');
    }

    function submitDate() {
      document.getElementById('date-button').click();
    }

    function confirmBooking() {
      let time = document.getElementById('slot_time').value
      let answer = window.confirm(`Confirm appointment on <%=date%> at ${time}?`);
    if(answer)
    return true;
    return false;
    }

    var picker = new Pikaday({
    field: document.getElementById('datepicker'),
    format: 'DD/M/YYYY',
    toString(date, format) {
    const day = date.getDate();
    const month = date.getMonth() + 1;
    const year = date.getFullYear();
    return `${day}/${month}/${year}`;
    },
    parse(dateString, format) {
    const parts = dateString.split('/');
    const day = parseInt(parts[0], 10);
    const month = parseInt(parts[1], 10) - 1;
    const year = parseInt(parts[2], 10);
    return new Date(year, month, day);
    },
    minDate: new Date(Date.now()),
    maxDate: new Date(moment().add(7, 'days').calendar())
    });
    </script>
</body>

<%- include ('../../partials/footer') %>

</html>