<%-include("../../partials/header.ejs")%>

<body>
  <div class="row justify-content-center align-items-center mt-lg-3">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 roundness p-2">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="mt-5">
                <form class="mt-5 user" action="/user/register-user/complete-form" method="post"
                  style="border-radius: 10px;">
                  <div class="form-row mt-1">
                    <div class="col">
                      <label for="aadhaarNum"><%=__('aadhaarNum')%></label>
                      <input class="form-control form-control-user" type="text" name="aadhaarNo"
                        value="<%=details.aadhaarNo%>" readonly>
                    </div>

                    <div class="col">
                      <label for="name"><%=__('name')%></label>
                      <input class="form-control form-control-user" type="text" name="name" value="<%=details.name%>"
                        readonly>
                    </div>
                  </div>

                  <div class="form-row mt-1">
                    <div class="col">
                      <label for="address"><%=__('address')%></label>
                      <input class="form-control form-control-user" type="text" name="address"
                        value="<%=details.address%>" readonly>
                    </div>
                  </div>

                  <div class="form-row mt-1">
                    <div class="col">
                      <label for="dob"><%=__('dob')%></label>
                      <input class="form-control form-control-user" type="text" name="dob" value="<%=details.dob%>"
                        readonly>
                    </div>

                    <div class="col">
                      <label for="gender"><%=__('gender')%></label>
                      <input class="form-control form-control-user" type="text" name="gender"
                        value="<%=details.gender%>" readonly>
                    </div>

                    <div class="col">
                      <label for="phone"><%=__('phone')%></label>
                      <input class="form-control form-control-user" type="text" name="phone"
                        value="<%=details.phoneNumber%>">
                    </div>
                  </div>

                  <div class="form-row mt-1">
                    <div class="col">
                      <label for="email"><%=__('email')%></label>
                      <input class="form-control form-control-user" type="email" name="email"
                        value="<%=details.email%>">
                    </div>

                    <div class="col">
                      <label for="username">Username</label>
                      <input class="form-control form-control-user" type="text" name="username">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col">
                      <label for="password"><%=__('password')%></label>
                      <input class="form-control form-control-user" type="password" name="password">
                    </div>

                    <div class="col">
                      <label for="repeat-password"><%=__('repeatPass')%></label>
                      <input class="form-control form-control-user" type="password" name="repeat-password">
                    </div>
                  </div>
                  <button class="btn bg-main btn-block text-white btn-user mt-4"><span class="h6">Sign
                      Up</span></button>
              </div>
            </div>

            <div class="col-lg-5 offset-lg-1 d-flex flex-column">
              <p class="text-main">We'd also like you to enter a few medical details which would be useful to
                doctors:</p>
              <div class="form-inline mt-2">
                <label for="diabetes">Diabetes:</label>
                <select class="form-control ml-2" name="diabetes" id="diabetes">
                  <option value="None">None</option>
                  <option value="Type 1">Type 1</option>
                  <option value="Type 2">Type 2</option>
                </select>
              </div>
              <div class="form-inline mt-3">
                <label for="hypertension">Hypertension:</label>
                <select class="form-control ml-2" name="hypertension" id="hypertension">
                  <option value="None">None</option>
                  <option value="Primary">Primary</option>
                  <option value="Secondary">Secondary</option>
                </select>
              </div>

              <div class="form-inline mt-3">
                <label for="thyroid">Thyroid conditions (if any):</label>
                <select class="form-control ml-2" name="thyroid" id="thyroid">
                  <option value="None">None</option>
                  <option value="Hyperthyroidism">Hyperthyroidism</option>
                  <option value="Hypothyroidism">Hypothyroidism</option>
                </select>
              </div>
              <br><br>
              <img src="/images/form.svg" alt="" height="200" style="width: 80%;">
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute; bottom: 0; z-index:-1">
    <path fill="#0f4c75" fill-opacity="1"
      d="M0,192L48,208C96,224,192,256,288,240C384,224,480,160,576,154.7C672,149,768,203,864,224C960,245,1056,235,1152,197.3C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
</body>
<%- include("../../partials/footer.ejs") %>