<%-include("../../partials/header.ejs")%>


<body>
    <div class="row justify-content-center align-items-center" style="height: 70%">
        <div class="col-sm-10 row justify-content-center bg-white shadow p-5 mt-5 roundness">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h2 class="text-main font-weight-bold">Select a Nominee</h2> <br>
                <div>
                    <h5 class="text-accent">Who is a nominee?</h5>
                    <p class="text-main">A nominee is a trusted acquaintance whom you can appoint to handle your account
                        in cases of emergency or on behalf of senior citizens who may have trouble doing so themselves.
                    </p>
                    <br>
                    <h5 class="text-accent">What can a nominee do?</h5>
                    <p class="text-main">A nominee can view all your medical records and prescriptions and also grant or
                        revoke permissions on your behalf. So make sure the person you appoint is someone your trust.
                    </p>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center">
                <form class="user" action="/user/register-user/find-user" method="post">
                    <div class="form-group mt-3">
                        <label for="code" class="text-center">Enter the Medical ID of the user whom you wish to appoint
                            as nominee</label>
                        <input class="form-control form-control-user" type="text" name="nomID" id="nomID">
                        <input class="form-control form-control-user" type="text" name="userID" id="userID"
                            value="<%=id%>" hidden>
                    </div>
                    <button class="btn bg-main btn-block text-white btn-user"><span class="h6">Check</span></button>
                </form>
                <br>
                <% if(user==null) {%>
                <img src="/images/nominee.svg" alt="nominee" height="150">
                <%} else if(user=='none') {%>
                <div class="alert alert-danger roundness text-center">No user found with the following Medical ID.
                    Please make sure
                    you have entered the correct ID.</div>
                <%} else {%>
                <p class="text-accent">The following user was found</p>
                <p class="text-main">Name : <%=user.name%></p>
                <p class="text-main">Medical ID : <%=aid%></p>
                <%if(user.nom) {%>
                <div class="alert alert-danger roundness text-center">This user is already a nominee. A user can be a
                    nominee for
                    only one person.</div>
                <%}%>
                <%}%>
                <br>
                <div class="row">
                    <a href="/user/login"><button class="btn btn-secondary roundness"
                            style="width: 120px;">Skip</button></a>
                    <%if(user && user.nom) {%>
                    <button class="btn submit-btn roundness ml-md-3" style="width: 120px;" id="confirm"
                        disabled>Confirm</button>
                    <%} else if(user && user!='none') {%>
                    <form action="/user/register-user/confirm-nominee" method="POST">
                        <input class="form-control form-control-user" type="text" name="nomID" value="<%=user._id%>"
                            hidden>
                        <input class="form-control form-control-user" type="text" name="userID" value="<%=id%>" hidden>
                        <button class="btn submit-btn roundness ml-md-3" style="width: 120px;"
                            id="confirm">Confirm</button>
                    </form>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="position: absolute; bottom: 0; z-index:-1">
        <path fill="#0f4c75" fill-opacity="1"
            d="M0,192L48,208C96,224,192,256,288,240C384,224,480,160,576,154.7C672,149,768,203,864,224C960,245,1056,235,1152,197.3C1248,160,1344,96,1392,64L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</body>

<%- include("../../partials/footer.ejs") %>