<%- include ('./partials/header') %>


<!-- navbar ends -->

<div class="row justify-content-center align-items-center bg-main">
    <div class="col-md-5 text-center">
        <h1 class="text-white"><%= __('home.welcome') %></h1>
        <h4 class="text-accent font-weight-bold"><%= __('home.caption') %></h4>
        <br>
        <a href="user/register-user" class="btn big-btn font-weight-bold shadow-lg"><%= __('home.ecard')%></a>
    </div>
    <div class="col-md-7 mt-4">
        <img src="/images/medicine.svg" alt="" style="width: 90%">
    </div>
</div>
<div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="z-index: 1;">
        <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:#0f4c75;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#3282b8;stop-opacity:1" />
            </linearGradient>
        </defs>
        <path fill="url(#grad1)" fill-opacity="1"
            d="M0,320L60,288C120,256,240,192,360,160C480,128,600,128,720,154.7C840,181,960,235,1080,218.7C1200,203,1320,117,1380,74.7L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
        </path>
    </svg>
</div>
<br><br><br>
<div style="margin-top: -5%;">
    <div class="col-md-8 offset-md-2 card shadow-lg bg-gradient-primary text-white border-0 p-5 roundness">
        <h4 class="font-weight-bold"><%= __('home.special')%></h4>
        <p class="text-white" style="font-size: 1.3rem;"><%= __('home.specialty') %></p>
    </div>
    <br>
</div>

<div style="margin-top: -10%;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#eee" fill-opacity="1"
            d="M0,256L80,256C160,256,320,256,480,240C640,224,800,192,960,186.7C1120,181,1280,203,1360,213.3L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
        </path>
    </svg>
    <div class="portal" style="background: #efefef;">
        <a href="/user/login">
            <div class="p-5 shadow-lg roundness submit-btn text-center m-5 card">
                <img src="images/user.svg" alt="user" height="150" style="width: 250px;">
                <br>
                <h4><%= __('home.userPortal') %></h4>
            </div>
        </a>
        <a href="/professional">
            <div class="p-5 shadow-lg roundness submit-btn text-center m-5 card">
                <img src="images/doctor.svg" alt="user" height="150" style="width: 250px;"><br>
                <h4><%= __('home.professionalPortal') %></h4>
            </div>
        </a>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#eee" fill-opacity="1"
            d="M0,256L80,256C160,256,320,256,480,240C640,224,800,192,960,186.7C1120,181,1280,203,1360,213.3L1440,224L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
    </svg>

    <div class="row justify-content-center align-items-center" style="margin-top: -5%">
        <lottie-player class="col-md-6" background="transparent" speed="1" style="width: 100%; height: 500px;" autoplay>
        </lottie-player>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-main text-center font-weight-bold"><%=__('isOrg')%></h1>
            <h5 class="text-accent text-center font-weight-bold"><%=__('orgApply')%></h5>
            <br>
            <a href="/organisation/register"
                class="btn submit-btn roundness shadow p-3 font-weight-bold"><%=__('applyNow')%></a>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
<script>
    const player = document.querySelector("lottie-player");
    player.load('https://assets8.lottiefiles.com/packages/lf20_mR5H7A.json')
    if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
        setTimeout(() => {
            player.pause()
        }, 2000)
    }
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            setTimeout(() => {
                player.pause()
            }, 2000)
        }
    });
</script>